[user]
	name = {YOUR NAME}
	email = {YOUR EMAIL}
[core]
	editor = vim
[color]
	diff = auto
	status = auto
	interactive = auto
	branch = auto
	ui = auto
[pull]
	rebase = false
[color "branch"]
	current = green
	remote = yellow
[init]
	defaultBranch = main
