[user]
	name = Jhonnatan Mendez
	email = jhonnatandavid34mc@gmail.com
[core]
	editor = vim
[color]
	diff = auto
	status = auto
	interactive = auto
	branch = auto
	ui = auto
[pull]
	rebase = false
[color "branch"]
	current = green
	remote = yellow
[init]
	defaultBranch = main
